/* HEADER STYLE */
header {

}

li{
    list-style: none;
}

.nav-list{
    display: flex;
    justify-content: space-around;
}

/* MAIN-CONTAINER STYLE */
.main-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 500px;
  grid-template-areas: "a m m m";
}

/* MAIN STYLE */
main {
    border: 2px solid grey;
  grid-area: m;
}

/* ASIDE STYLE */
aside {
  grid-area: a;
  border: 2px solid grey;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    "kebab"
    "baklava"
    "kahve";
}

.kebab{
    background-color: indianred;
    grid-area: kebab;
}

.baklava{
    background-color: aqua;
    grid-area: baklava;
}

.kahve{
    background-color: yellow;
    grid-area: kahve;
}


/* FOOTER STYLE */
footer{
    color: rgb(185, 185, 185);
    text-align: center;
    margin-top: 20px;
}