body{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:wheat;
}
header{display:flex;
justify-content: space-between;
font-size: 20px;}


h1{color:brown;
font-size:30px;
}
ul{
color:blueviolet;
}

 ol{color:blueviolet;
}   

#about{
    text-align: center;}

