/* Navbar styling*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 10px;
  color: #edf1f3;
  background-color: #191919;
  font-family: ;
}

nav {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background: black;
  height: 50px;
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
  font-family: "Tenor Sans", sans-serif;
}

nav li {
  padding-left: 1rem;
  padding-right: 1rem;
}

nav a {
  text-decoration: none;
  color: #eceef1;
  font-size: 20px;
}
nav h2 {
  font-size: 50px;
  font-family: "Kristi", cursive;
  font-weight: 200;
}

/* 
    Extra small devices (phones, 600px and down) 
  */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
}

.container1 {
  display: flex;
  justify-content: space-around;
}

.image-background {
  padding-left: 50px;
  padding-top: 100px;
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 250px;
  padding-right: 100px;
  text-align: center;
}
.font-style {
  font-family: "Tenor Sans", sans-serif;
  font-size: 72px;
  word-spacing: 1rem;
}

.font-style1 {
  font-family: "Kristi", cursive;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}
